.card_root{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.card_root > .img_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 248px;
    height: 248px;
    border-radius: 24px;
    background-color: #ffffff;
}
.card_root > .text_wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}
.card_root > .text_wrapper > span{
    font-family: Pretendard;
}
.card_root > .text_wrapper > span:first-child{
    font-weight: 600;
    font-size: 1.75rem;
}
.card_root > .text_wrapper > span:last-child{
    font-weight: 600;
    font-size: 1.125rem;
}