.search_bar_main{
    display: flex;
    flex-direction: row;
    /*justify-content:center;*/
    align-items: center;
    padding: 0 15px;
    width: 320px;
    height: 38px;
    border: solid 1px #d8d8d8;
    background-color: #f1f1f1;
    border-radius: 20px;
    gap: 16px;
}
.search_img{
    width: 24px;
    height: 24px;
    min-width: 24px;
    min-height: 24px;
}
.input_container{
    width: calc(100% - 30px - 24px);
}
.search_input{
    margin-top: 2px;
    width: 100%;
    background-color: transparent;
    border: 0;
    outline: none;
    font-size: 0.875rem;
    color: #5b5b5b;
}
.search_input::placeholder{
    font-size: 0.875rem;
    letter-spacing: -0.56px;
    color: #bababa;
}
