.navbar_root{
    width: calc(320px - 20px);
    height: calc(100% - 20px);
    padding: 10px;
    background-color: #353535;
}
.profile_container{
    display: flex;
    align-items: center;
    width: calc(100% - 20px);
    height: calc(60px - 20px);
    background-color: #322f2f;
    border-radius: 4px;
    padding: 10px;
    gap: 20px;
    cursor: pointer;
}
.profile_container > span{
    font-family: Pretendard;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -0.56px;
    color: white;
}
.divide{
    margin: 10px!important;
    border-color: #877d7d!important;
}