.menu_element_container{
    display: flex;
    flex-direction: column;
}
.menu_element_root{
    display: flex;
    align-items: center;
    width: 200px;
    height: 44px;
    border-radius: 10px;
    transition: background-color 0.2s ease;
    cursor: pointer;
}
.menu_element_root > span{
    /*font-family: Como;*/
    margin-left: 20px;
    font-size: 1.125rem;
    font-weight: bold;
    letter-spacing: -0.72px;
    color: #bababa;
    transition: color 0.3s ease;
}
.menu_element_root:hover{
    color: #ff9300;
}
.menu_element_root:hover > span{
    color: #ff9300;
    font-size: 1.125rem!important;
}
.menu_element_root.active{
    background-color: #fff6e0;
}
.menu_element_root.active > span{
    /*font-family: Como;*/
    font-weight: bold;
    letter-spacing: -0.72px;
    color: #ff9300;
}
.child_menu_container{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    animation: menu_down 0.2s ease;
}
.child_menu_container.active{

}
@keyframes menu_up{

}
@keyframes menu_down{

}
