.answer_explain_root{
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.title_container{
    display: flex;
    width: 100%;
}
.title_container > span{
    font-family: "pretendard", sans-serif;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: -0.72px;
    text-align: left;
    color: #ff9300;
}
.content_container{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: calc(100% - 40px);
    border-radius: 10px;
    background-color: #fdfaf2;
}
.answer_container{
    width: 100%;
}
.answer_container > span{
    font-family: "pretendard", sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.64px;
    text-align: left;
    color: #ffba00;
}
.explain_container{
    margin-top: 20px;
}
.explain_container > span{
    font-family: "pretendard", sans-serif;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: -0.56px;
    text-align: left;
    color: #797979;
}
.reference_container{
    margin-top: 30px;
    width: 100%;
}
.reference_container > span{
    font-family: "pretendard", sans-serif;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: -0.56px;
    text-align: left;
    color: #ffba00;
}
.reference_container > span:nth-child(2){
    text-decoration: underline;
}
