/* mobile */
@media screen and (max-width: 768px){
    .main_root{
        width: 100vw;
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .main_section{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    .main_section > .header_container{
        display: flex;
        justify-content: center;
        /* align-items: flex-end; */
        align-items: center;
        width: 100%;
        height: 60px;
    }
    .main_section > .background_container{
        width: 100%;
        height: calc(100% - 60px);   
        background-color: #fdfaf2;
        background-image: url('assets/images/main/main_background_image04.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .search_container{
        z-index: 10;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
    .scroll_container{
        z-index: 10;
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translate(-50%, 0%);
    }
    
    .explain_section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* height: 774px; */
        height: auto;
        background-color: #ffffff;
        position: relative;
    }
    
    .deco_box{
        margin-top: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1400px;
    }
    .deco_box > .header{
        width: 100%;
    }
    .deco_box > .header > span{
        font-family: Pretendard;
        font-size: 1.75rem;
        font-weight: 600;
    }
    
    .problem_container{
        margin-top: 24px;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }
    .problem_box{
        width: 36%;
    }
    .problem_box > .border_box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 48px);
        padding: 24px;
        flex-direction: column;
        border-radius: 16px;
        background-color: #f7f7f7;
        gap: 16px;
    }
    .problem_box > .border_box > .title{
        font-family: Pretendard;
        font-weight: 600;
        font-size: 1rem;
        color: #FF7253;
    }
    .problem_box > .border_box > .description_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .problem_box > .border_box > .description_container > span{
        font-family: Pretendard;
        font-size: 1.25rem;
        font-weight: 500;
        color: #444444;
    }
    .problem_box > .arrow_box{
        margin-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .solution_container{
        margin-top: 32px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .solution_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 28px 24px;
        width: calc(100% - 48px);
        max-width: 1400px;
        height: auto;
        background-color: #fdfaf2;
    }
    .solution_box > span:first-child{
        font-family: Pretendard;
        font-weight: 600;
        font-size: 1.25rem;
        color: #ffa700;
    }
    .solution_box > span:nth-child(2){
        margin-top: 8px;
        font-family: Pretendard;
        font-weight: 600;
        font-size: 1.75rem;
        color: #5b5b5b;
    }
    .solution_box > span:nth-child(3){
        font-family: Pretendard;
        font-weight: 600;
        font-size: 1.75rem;
        color: #ffa700;
    }
    
    .license_banner_box{
        margin-top: 160px;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 460px;
        background-image: url('assets/images/main/license_banner.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    .license_banner_box > .text_wrapper{
        margin-top: 90px;
        width: 1400px;
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
    .license_banner_box > .text_wrapper > .title_container{
        display: flex;
        flex-direction: column;
    }
    .license_banner_box > .text_wrapper > .title_container > span{
        font-family: Pretendard;
        font-weight: bold;
        font-size: 2.5rem;
        letter-spacing: -2%;
        line-height: 56px;
    }
    .license_banner_box > .text_wrapper  > .title_container > span:nth-child(2){
        color: #ffa700;
    }
    .license_banner_box > .text_wrapper  > .description_container{
        display: flex;
        flex-direction: column;
    }
    .license_banner_box > .text_wrapper  > .description_container > span{
        font-family: Pretendard;
        font-size: 1.25rem;
        line-height: 30px;
        letter-spacing: -2%;
    }
    
    .license_section{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 780px;
        background-color: #f7f7f7;
        align-items: center;
    }
    .license_section > .title_container {
        margin-top: 160px;
        display: flex;
        width: 1400px;
    }
    .license_section > .title_container > span{
        font-family: Pretendard;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.13;
        letter-spacing: -1.28px;
        color: #252525;
    }
    .license_section > .license_list{
        margin-top: 40px;
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 40px;
    }
    
    .contents_section{
        width: 100%;
        height: 854px;
    }
}

/* pad */
@media screen and (min-width: 769px) and (max-width: 1024px){
    .main_root{
        width: 100vw;
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .main_section{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    .main_section > .header_container{
        display: flex;
        justify-content: center;
        /* align-items: flex-end; */
        align-items: center;
        width: 100%;
        height: 60px;
    }
    .main_section > .background_container{
        width: 100%;
        height: calc(100% - 60px);   
        background-color: #fdfaf2;
        background-image: url('assets/images/main/main_background_image04.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .search_container{
        z-index: 10;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
    .scroll_container{
        z-index: 10;
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translate(-50%, 0%);
    }
    
    .explain_section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* height: 774px; */
        height: auto;
        background-color: #ffffff;
        position: relative;
    }
    
    .deco_box{
        margin-top: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1400px;
    }
    .deco_box > .header{
        width: 100%;
        max-width: 810px;
    }
    .deco_box > .header > span{
        font-family: Pretendard;
        font-size: 1.75rem;
        font-weight: 600;
    }
    
    .problem_container{
        margin-top: 24px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 810px;
        gap: 20px;
    }
    .problem_box{
        
    }
    .problem_box > .border_box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(243px - 24px - 24px);
        height: 168px;
        padding: 24px;
        flex-direction: column;
        border-radius: 16px;
        background-color: #f7f7f7;
        gap: 16px;
    }
    .problem_box > .border_box > .title{
        font-family: Pretendard;
        font-weight: 600;
        font-size: 1rem;
        color: #FF7253;
    }
    .problem_box > .border_box > .description_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .problem_box > .border_box > .description_container > span{
        font-family: Pretendard;
        font-size: 1.25rem;
        font-weight: 500;
        color: #444444;
        text-align: center;
        word-break: keep-all;
    }
    .problem_box > .arrow_box{
        margin-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .solution_container{
        margin-top: 32px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .solution_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 28px 24px;
        width: calc(100% - 24px - 24px);
        max-width: calc(810px - 24px - 24px);
        height: auto;
        background-color: #fdfaf2;
    }
    .solution_box > span:first-child{
        font-family: Pretendard;
        font-weight: 600;
        font-size: 1.25rem;
        color: #ffa700;
    }
    .solution_box > span:nth-child(2){
        margin-top: 8px;
        font-family: Pretendard;
        font-weight: 600;
        font-size: 1.75rem;
        color: #5b5b5b;
    }
    .solution_box > span:nth-child(3){
        font-family: Pretendard;
        font-weight: 600;
        font-size: 1.75rem;
        color: #ffa700;
    }
    
    .license_banner_box{
        margin-top: 160px;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 245px;
        background-image: url('assets/images/main/license_banner.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    .license_banner_box > .text_wrapper{
        margin-top: 48px;
        width: 810px;
        display: flex;
        flex-direction: column;
        gap: 24px;
    }
    .license_banner_box > .text_wrapper > .title_container{
        display: flex;
        flex-direction: column;
    }
    .license_banner_box > .text_wrapper > .title_container > span{
        font-family: Pretendard;
        font-weight: bold;
        font-size: 1.25rem;
        letter-spacing: -2%;
        line-height: 28px;
    }
    .license_banner_box > .text_wrapper  > .title_container > span:nth-child(2){
        color: #ffa700;
    }
    .license_banner_box > .text_wrapper  > .description_container{
        display: flex;
        flex-direction: column;
    }
    .license_banner_box > .text_wrapper  > .description_container > span{
        font-family: Pretendard;
        font-size: 0.875rem;
        line-height: 20px;
        letter-spacing: -2%;
    }
    
    .license_section{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 780px;
        background-color: #f7f7f7;
        align-items: center;
    }
    .license_section > .title_container {
        margin-top: 80px;
        display: flex;
        width: 100%;
        max-width: 810px;
    }
    .license_section > .title_container > span{
        font-family: Pretendard;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.13;
        letter-spacing: -1.28px;
        color: #252525;
    }
    .license_section > .license_list{
        margin-top: 40px;
        margin-left: 107px;
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 40px;
        flex-wrap: nowrap;
        overflow-x: auto;
    }
    .license_section > .license_list::-webkit-scrollbar {
        display: none;
    }
    .contents_section{
        width: 100%;
        height: 854px;
    }
}

/* pc */
@media screen and (min-width: 1025px){
    .main_root{
        width: 100vw;
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .main_section{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100vh;
    }
    .main_section > .header_container{
        display: flex;
        justify-content: center;
        /* align-items: flex-end; */
        align-items: center;
        width: 100%;
        height: 60px;
    }
    .main_section > .background_container{
        width: 100%;
        height: calc(100% - 60px);   
        background-color: #fdfaf2;
        background-image: url('assets/images/main/main_background_image04.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .search_container{
        z-index: 10;
        position: absolute;
        left: 50%;
        top: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
    }
    .scroll_container{
        z-index: 10;
        position: absolute;
        left: 50%;
        bottom: 30px;
        transform: translate(-50%, 0%);
    }
    
    .explain_section{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        /* height: 774px; */
        height: auto;
        background-color: #ffffff;
        position: relative;
    }
    
    .deco_box{
        margin-top: 160px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1400px;
    }
    .deco_box > .header{
        width: 100%;
    }
    .deco_box > .header > span{
        font-family: Pretendard;
        font-size: 1.75rem;
        font-weight: 600;
    }
    
    .problem_container{
        margin-top: 24px;
        display: flex;
        justify-content: center;
        width: 100%;
        gap: 20px;
    }
    .problem_box{
        width: 36%;
    }
    .problem_box > .border_box{
        display: flex;
        justify-content: center;
        align-items: center;
        width: calc(100% - 48px);
        padding: 24px;
        flex-direction: column;
        border-radius: 16px;
        background-color: #f7f7f7;
        gap: 16px;
    }
    .problem_box > .border_box > .title{
        font-family: Pretendard;
        font-weight: 600;
        font-size: 1rem;
        color: #FF7253;
    }
    .problem_box > .border_box > .description_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .problem_box > .border_box > .description_container > span{
        font-family: Pretendard;
        font-size: 1.25rem;
        font-weight: 500;
        color: #444444;
    }
    .problem_box > .arrow_box{
        margin-top: 32px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .solution_container{
        margin-top: 32px;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    .solution_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 28px 24px;
        width: calc(100% - 48px);
        max-width: 1400px;
        height: auto;
        background-color: #fdfaf2;
    }
    .solution_box > span:first-child{
        font-family: Pretendard;
        font-weight: 600;
        font-size: 1.25rem;
        color: #ffa700;
    }
    .solution_box > span:nth-child(2){
        margin-top: 8px;
        font-family: Pretendard;
        font-weight: 600;
        font-size: 1.75rem;
        color: #5b5b5b;
    }
    .solution_box > span:nth-child(3){
        font-family: Pretendard;
        font-weight: 600;
        font-size: 1.75rem;
        color: #ffa700;
    }
    
    .license_banner_box{
        margin-top: 160px;
        display: flex;
        justify-content: center;
        width: 100vw;
        height: 460px;
        background-image: url('assets/images/main/license_banner.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
    }
    .license_banner_box > .text_wrapper{
        margin-top: 90px;
        width: 1400px;
        display: flex;
        flex-direction: column;
        gap: 64px;
    }
    .license_banner_box > .text_wrapper > .title_container{
        display: flex;
        flex-direction: column;
    }
    .license_banner_box > .text_wrapper > .title_container > span{
        font-family: Pretendard;
        font-weight: bold;
        font-size: 2.5rem;
        letter-spacing: -2%;
        line-height: 56px;
    }
    .license_banner_box > .text_wrapper  > .title_container > span:nth-child(2){
        color: #ffa700;
    }
    .license_banner_box > .text_wrapper  > .description_container{
        display: flex;
        flex-direction: column;
    }
    .license_banner_box > .text_wrapper  > .description_container > span{
        font-family: Pretendard;
        font-size: 1.25rem;
        line-height: 30px;
        letter-spacing: -2%;
    }
    
    .license_section{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 780px;
        background-color: #f7f7f7;
        align-items: center;
    }
    .license_section > .title_container {
        margin-top: 160px;
        display: flex;
        width: 1400px;
    }
    .license_section > .title_container > span{
        font-family: Pretendard;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1.13;
        letter-spacing: -1.28px;
        color: #252525;
    }
    .license_section > .license_list{
        margin-top: 40px;
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 40px;
    }
    
    .contents_section{
        width: 100%;
        height: 854px;
    }
}