.change_password_root{
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
    gap: 40px;
}
.change_password_root > .header_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}
.change_password_root > .body_container{
    margin-top: 50px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.body_container > .title{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.body_container > .title > h2{
    font-family: Pretendard;
    font-size: 1.75rem;
    font-weight: 600;
    letter-spacing: -0.8px;
    color: #000000;
}
.body_container > .btn_container{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.body_container > .btn_container > .confirm_btn:disabled{
    background-color: #e4e4e4;
    cursor:not-allowed;
}

/* mobile */
@media screen and (max-width: 768px) {
    .body_container > .input_form{
        margin-top: 40px;
        display: flex;
        width: 312px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .body_container > .btn_container > .confirm_btn{
        outline: 0;
        border: 0;
        width: 312px;
        height: 50px;
        background-color: #ffba00;
        font-family: Pretendard;
        font-size: 1.125rem;
        font-weight: 600;
        letter-spacing: -0.56px;
        text-align: center;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
    }
}

/* pad */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    .body_container > .input_form{
        margin-top: 40px;
        display: flex;
        width: 480px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .body_container > .btn_container > .confirm_btn{
        outline: 0;
        border: 0;
        width: 480px;
        height: 50px;
        background-color: #ffba00;
        font-family: Pretendard;
        font-size: 1.125rem;
        font-weight: 600;
        letter-spacing: -0.56px;
        text-align: center;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
    }
}

/* pc */
@media screen and (min-width: 1024px) {
    .body_container > .input_form{
        margin-top: 40px;
        display: flex;
        width: 520px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    .body_container > .btn_container > .confirm_btn{
        outline: 0;
        border: 0;
        width: 520px;
        height: 50px;
        background-color: #ffba00;
        font-family: Pretendard;
        font-size: 1.125rem;
        font-weight: 600;
        letter-spacing: -0.56px;
        text-align: center;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
    }
}

