.workbook_main{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.workbook_header{
    padding: 0 260px;
    display: flex;
    flex-direction: row;
    width: calc(100% - 520px);
    height: 79px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e4e4e4;
}
.workbook_body{
    display: flex;
    flex-direction: row;
    padding: 0 260px;
    width: calc(100% - 520px);
    height: calc(100% - 80px);
}
.left_side_container{
    display: flex;
    width: 200px;
    height: 100%;
}
.right_side_container{
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    height: 100%;
}
.logo_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 169px;
    height: 50px;
    gap: 13px;
}
.logo_img{
    width: 50px;
    height: 50px;
    min-width: 50px;
    min-height: 50px;
}
