.top_view_workbook_root{
    display: flex;
    flex-direction: column;
    width: calc(358px - 40px);
    height: calc(214px - 40px);
    padding: 20px;
    border-radius: 20px;
    border: solid 1px #e4e4e4;
    transition: border 0.2s ease;
    cursor: pointer;
}
.top_view_workbook_root:hover {
    border: solid 1px #fda124;
}
.top_view_workbook_header{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 5px;
}
.top_view_workbook_header > span{
    font-family: como, sans-serif;
    font-size: 0.875rem;
    font-weight: bold;
    letter-spacing: -0.56px;
    color: #ffb100;
}
.top_view_workbook_content{
    margin-top: 9px;
    display: flex;
    width: 100%;
}
.top_view_workbook_content > span{
    font-family: Pretendard;
    font-size: 18px;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: -0.72px;
    color: #5b5b5b;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    word-wrap: break-word;
}
.top_view_workbook_tag_container{
    margin-top: 19px;
    display: flex;
    width: 100%;
    gap: 10px;
    flex-wrap: wrap;
}
