.fade_in{
    animation: fadeIn 0.2s;
}

.fade_and_slide{
    animation: .3s ease-in-out forwards fadeAndSlide;
}

@keyframes fadeIn {
    from{
        opacity: 0
    }
    to{
        opacity: 1;
    }
}

@keyframes fadeAndSlide{
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
