.login_page_root{
    width: 100vw;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto;
}
.login_page_root > .header_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
}
.login_page_root > .body_container{
    margin-top: 40px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 160px;
}
.login_page_root > .body_container > section:first-child{
    width: 440px;
}
.login_page_root > .body_container > section:last-child{
    width: 800px;
    height: 775px;
    background-color: #FFBA00;
    border-radius: 12px;
}